/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url(https://images.unsplash.com/photo-1523430237819-5fdfeb4f5604?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5314a7fa18a4ec6909d4cbda5687ada&auto=format&fit=crop&w=937&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70%;
  }
.navbar navbar-expand-lg navbar-light{
  position: fixed;
}
.collapse navbar-collapse {
      padding-left: 240px;
  }


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-spacing: 20px;
}


/* CSS for invest.html button */
.button {
    background-color:#3C393A;
    
    color: white;
    padding: 40px 120px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    margin-top: -20px;
}

/* en d*/

h4 {
    color: red;
}

.bot {
    max-width: 100%;
    height: 100px;
}

.block {
    background-image: url(https://images.unsplash.com/photo-1519120126473-8be7aedcd6c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a55332dfc236b13f118ef77a36b4052f&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40%;
  }

.inve {
    margin-top: 30px;
}

.clock {
    background-image: url(https://images.unsplash.com/photo-1495292040232-745a10cd202c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=311b389f7632627e26e3f287581d0c0e&auto=format&fit=crop&w=1489&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40%;
  }

/* login */
  .background{
    background-image: url(https://images.unsplash.com/photo-1470114888332-5bcd36dd1940?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3f906a23ae24ae4be62101cfb8eaba5&auto=format&fit=crop&w=1350&q=80) ;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
  }
/*bg login */

.clock {
    background-image: url(https://images.unsplash.com/photo-1495292040232-745a10cd202c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=311b389f7632627e26e3f287581d0c0e&auto=format&fit=crop&w=1489&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40%;
  }


  .dlock {
    background-image: url(https://images.unsplash.com/photo-1513488905547-ddd1904c7c48?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e6089eb4304b2e1d13242ad4811f811d&auto=format&fit=crop&w=1196&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40%;
  }

  .elock {
    background-image: url(https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae2d32767e7488a5e5cb070c4457b519&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40%;
  }