{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> 
    
    {% if title %}
    <title>Jijenge - {{title}}</title>
    {% else %}
    <title> Jijenge </title>
    {% endif %}
    
    {% block styles %} 
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/baseinve.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    {% endblock %}


</head>


<body>
    
    {% include "navbar.html" %}
    {% block content %}
    <div class="bg">
    <p> Hello, Lonely </p> 

    {% block scripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        {% bootstrap_javascript %}
        {% endblock %}
    {% endblock %} 
</div>
</body>
</html>