{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}



<div class="bg">
</div>  

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 ">
        <a href="https://eregulations.invest.go.ke/" class="button">  <span class="glyphicon glyphicon-grain"></span> Regulations In Kenya </a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 ">
        <a href="https://en.wikipedia.org/wiki/List_of_African_countries_by_GDP_(nominal)" class="button">  <span class="glyphicon glyphicon-modal-window"></span>Kenya's GDP</a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 ">
        <a href="{% url 'contactus' %}" class="button">  <span class="glyphicon glyphicon-th"></span> Contact Us </a>
        </div>
    </div>

git 
    <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 ">
            <b><font size="5"> G-jenge </font> </b>
            <p><font size="4">G-jenge is a platform that enables those with an intention to invest in kenya to invest. 
            <br>You're guided on the legal requirements and procedures of investing, you're advised on the returns on investment.
            <br>This platform also advises you on the businesses thriving in the country and in the market gap. </font></p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 ">
            <h6><font size="5">Kenya contributes to more than 50% of East Africa's GDP.</font></h6>
            <p><font size="4">Kenya is open for business to well-positioned companies with strategic objectives of tapping into the growing
             potential of emerging markets in East and Central Africa.Kenya is also the leading country in terms of internet speeds in Kenya</font></p>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 ">
            <h5><font size="5">Kenyan Investment </font></h5>
            <p><font size="4">With the highest skilled labour group in East Africa, Kenya is an ideal location for business. Kenyans are very entrepreunial people. </font></p>
            </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
    <div class="bot">
        <img src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=96e8c52b31b6e86b4abf5a20d9845793&auto=format&fit=crop&w=750&q=80" alt="bottom" width="1200" height="300">
    </div>
</div>
</div>
</div>
{% endblock %}