{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> 
    
    {% if title %}
    <title>Jijenge - {{title}}</title>
    {% else %}
    <title> Jijenge </title>
    {% endif %}

    {{form.media}}
    
    {% block styles %} 
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/baseinve.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}

<style>

h3 {
    color: #E4D2CD;
}
body {
    background-color: #FDF7EE;
}

</style>

</head>
<body>

<div class="elock"></div>  
<div class="container">  
<div class="row">
        <div class="col-md-8 col-md-offset-2">
          {% for entry in entries %}
            <article>
              <h2><a href="#">{{ entry.title }}</a></h2>
              <p class="text-muted">
                Posted by <a href="#">{{ entry.created_by }}</a> on
                {{ entry.start_publication|date:"D d M Y" }}
              </p>
              <div class="content">
                {{ entry.content|safe }}
              </div>
              <div class="content">
                    {{ entry.summary|safe }}
                  </div>
            </article>
          {% endfor %}
        </div>
      </div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form  action="{%url 'invest' %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
        
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-success btn-lg" value="Post">
          </form>
</div>
</div>
</div> 
</body>
{% endblock %}