{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"> 
    
    {% if title %}
    <title>Jijenge - {{title}}</title>
    {% else %}
    <title> Jijenge </title>
    {% endif %}

    {{form.media}}
    
    {% block styles %} 
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/baseinve.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}


</head>

<body>

<div class="clock"></div>

<div class="container"></div>


</body>
{% endblock %}
